.content{
  //background: lightgoldenrodyellow;
  margin: 0 38px 0 28px;
  display: flex;
  flex: 1;
  //justify-content: space-between;

  &--empty{

    display: flex;
    align-items: center;
    justify-content: center;
  }


  &-main{
    flex: 1
  }
  &-sidebar{
    width: 266px;
    margin-left: 16px;
    .content-block__body{
      padding: 24px;
      padding-right: 27px;
      padding-bottom: 5px;
    }
    .chart{
      padding: 25px 14px;
      padding-bottom: 42px;
    }

    //диаграмма
    #container{

      .highcharts-title{display: none}
      .highcharts-contextbutton{display: none}
      .highcharts-credits{display: none}
      .highcharts-legend-item{
        display: flex;
        align-items: center;
        text{
          fill: $text-color;
          font-size: 14px!important;
          font-family: $font-SF-Pro-Text-Regular!important;
          font-weight: 100!important;
        }
      }
      .highcharts-point{
        height: 8px;
        width: 8px;

      }
    }
  }


  &-info{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-family: $font-SF-Pro-Display-Thin;
    .button{
      margin-top: 16px;
    }
  }
  &-title{
    font-size: 20px;
    font-weight: 100;
    font-family: $font-SF-Pro-Display-Thin;
    padding-bottom: 6px;
    padding-top: 16px;
    padding-left: 16px;
    height: 52px;
    display: block;

  }

  // белый блок с контентом и тенью
  &-block{
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    &__head{
      background: $background;
      height: 45px;
      padding: 15px 16px;
      display: flex;
      justify-content: space-between;
      > div{
        display: flex;
        align-items: center;
        min-width: 300px;
        &:last-child{
          justify-content: flex-end;
        }
      }

      &--thin{
        height: 33px;
        padding: 9px 16px;
        label{
          @extend %label;
        }
      }
    }

  }

  .graph{
    //background: lavender;
    height: 394px;
    //overflow-x: scroll;

    .lines{
      width: 110%;
    }
  }

  .zoom{
    &-title{
      @extend %label;
      margin-right: 4px;
      margin-top: 2px;
    }

    &-btn{
      display: inline-block;
      line-height: 21px;
      text-align: center;
      border-radius: 2px;
      width: 32px;
      height: 21px;
      background-color: rgba(49, 67, 191, 0.6);
      margin-left: 8px;
      @include font($font-SF-Pro-Text-Bold, 10px, white);

      &:hover,
      &.active{
        background-color: rgba(49, 67, 191, 1);
        cursor: pointer;
      }
      &.inactive{
        opacity: .3;
        cursor: default;
        &:hover{
          background-color: rgba(49, 67, 191, 0.6);
        }
      }

    }
  }


  .date{
    &-from{}
    &-to{
      margin-left: 16px;
    }

    &-title{
      @extend %label;
      margin-right: 4px;
    }
    &-field{
      height: 21px;
      padding: 2px 8px 3px;
      border-radius: 2px;
      background-color: rgba(49, 67, 191, 0.4);
      border: solid 1px rgba(138, 106, 228, 0.4);
      @include font($font-SF-Pro-Text-Bold, 10px, white);
      width: 84px;
    }
  }


  .params{
    align-items: flex-end;
    margin-bottom: 32px;
    display: flex;
    //justify-content: space-between;

    &-item{

      &:first-child{
        //flex-basis: 71%;
        //flex-basis: 130px;
        //padding-right: 8px;
        width: 115px;
      }
      &:last-child{
        //flex-basis: 40%;
        //flex-basis: 84px;
        //padding-left: 8px;
        width: 84px;
        margin-left: 16px;
      }

    }
  }
  .value{
    font-family: $font-SF-Pro-Text-Light;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;


    &-title{
      @extend %label;
      font-family: $font-SF-Pro-Text-Regular;
      color: rgba(20, 23, 28, 0.6);
      letter-spacing: 0.8px;
      //white-space: nowrap;
    }
  }



}