%before-after{
  content: '';
  display: inline-block;
  width: 41px;
  height: 10px;
  background: grey;
}

%label{
  font-family: $font-SF-Pro-Text-Medium;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .8px;
}