//fonts

// Lato
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}


// FiraSans
@font-face {
  font-family: 'Firasanslight';
  src:  local("Firasanslight"),
        url('../fonts/Firasanslight.woff') format('woff'),
        url('../fonts/Firasanslight.woff2') format('woff2'),
        url('../fonts/Firasanslight.ttf') format('truetype');
}
@font-face {
  font-family: 'Firasansregular';
  src:  local("Firasansregular"),
  url('../fonts/Firasansregular.woff') format('woff'),
  url('../fonts/Firasansregular.woff2') format('woff2'),
  url('../fonts/Firasansregular.ttf') format('truetype');
}



// San-Francisco-Pro-Fonts DISPLAY
@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src:  local("SF-Pro-Display-Thin"),
  url('../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src:  local("SF-Pro-Display-Regular"),
  url('../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src:  local("SF-Pro-Display-Medium"),
  url('../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Medium.otf') format('opentype');
}

// SF-Pro TEXT Fonts
@font-face {
  font-family: 'SF-Pro-Text-Light';
  src:  local("SF-Pro-Text-Light"),
  url('../fonts/SF-Pro-Text/SF-Pro-Text-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src:  local("SF-Pro-Text-Regular"),
  url('../fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Medium';
  src:  local("SF-Pro-Text-Medium"),
  url('../fonts/SF-Pro-Text/SF-Pro-Text-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src:  local("SF-Pro-Text-Bold"),
  url('../fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf') format('opentype');
}