/* ---- variables ---- */

//fonts
$font-Lato-Light: 'Lato-Light';
$font-Lato-Regular: 'Lato-Regular';

$font-Firasanslight: 'Firasanslight';
$font-Firasansregular: 'Firasansregular';

$font-SF-Pro-Display-Thin: 'SF-Pro-Display-Thin';
$font-SF-Pro-Display-Regular: 'SF-Pro-Display-Regular';
$font-SF-Pro-Display-Medium: 'SF-Pro-Display-Medium';

$font-SF-Pro-Text-Light: 'SF-Pro-Text-Light';
$font-SF-Pro-Text-Regular: 'SF-Pro-Text-Regular';
$font-SF-Pro-Text-Medium: 'SF-Pro-Text-Medium';
$font-SF-Pro-Text-Bold: 'SF-Pro-Text-Bold';




//colors

$text-color: #14171c;
$grey-text-color: #727a82;
$blue: #3143bf;
$tealish: #31bfbb;

$background: #f1f1f1;
$border-color: #dadadb;

$green: #3cbf31;
$red: #f01818;


$black: #030303;
$white: #fff;

$grey: #999999;

$violet: #945693;


// arrows
$arrow-position: 21%;
$arrow-position-2: 2%;








//$blue: #1885fc;
//$green: #7cc62b;
$green: #3dcc38;
//$grey: #d3dbe4;
//$grey: #f2f3f9;
$grey-background: #f7f8fa;
$grey-true: #ddd;
//$text-color: #19233c;
//$text-color: #373737;
$error-color: #e96969;
$grey-text-color: #8c959f;

$bluegreen: #008872;
$light-indigo: #8856cb;
$tealish: #22b1bf;
$brownish-grey: #72605c;


// user colors
$user-brown: #ae6e03;
$user-green: #519800;
$user-red: #f61000;