.button {

  outline: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  //display: flex;
  //justify-content: center;
  //align-items: center;

  display: inline-block;
  text-align: center;
  line-height: normal;
  text-decoration: none;

  @include font($font-SF-Pro-Text-Medium, 14px, #ffffff);
  font-weight: 500;

  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  padding: 9px 41px;
  width: auto;

  &:hover{
    opacity: .85;
  }


  &--blue{
    background-color: $blue;
    border-color: $blue;
  }
  &--tealish{
    background-color: $tealish;
    border-color: $tealish;
  }


  &.inactive{
    opacity: .2;
    cursor: default;
  }
  &.active{
    opacity: 1;
  }
}