select{
  &:focus,
  &:active{
    outline: none!important;
  }
}
.select{
  &-block{
    display: flex;
    flex-direction: column;
    outline: none!important;
    &:focus,
    &:active{
      outline: none!important;
    }
  }
  &-name{
    @extend %label;
    margin-bottom: 8px;
  }
  &-panel{
    border-color: $blue;
    border-radius: 3px;
    height: 36px;
    padding: 9px 16px;
    font-family: $font-SF-Pro-Text-Regular;
  }

}