.nav{
  &-tabs{
    padding: 0 16px;
    border-bottom-color: transparent;
    .nav-link{
      border-radius: 0;
      padding: 16px 25px 14px;
      color: $text-color;
      // без этого счачет вкладка
      font-family: $font-SF-Pro-Text-Bold;


      &:hover{
        border-color: transparent;
      }

      &.active{
        border-color: transparent;
        background: $background;
        border-bottom: 1px solid $blue;
        color: $blue;
        font-family: $font-SF-Pro-Text-Bold;

      }
    }


  }
}


.tab-table{
  table{
    width: 100%;
    th, td{
      padding: 9px 22px;
      &:first-child{
        padding-left: 32px;
      }
      &:last-child{
        padding-right: 32px;
      }
    }

    thead{
      background: $background;
      th{
        @extend %label;
        height: 33px;
        vertical-align: middle;
      }
    }


    tbody{
      tr{
        &:first-child td{
          padding-top: 19px;
        }
        &:last-child td{
          padding-bottom: 13px;
        }
      }
      td{
        //padding: 8px 0;
      }
    }
  }
}