extends layout/main-layout

block body

  block header
    header.header
      div.container--flex
        div.header-left
          a.logo(href="/")
            img(src="/img/logo.svg")
          div.nav
            a(href="#").nav-link Developer
            a(href="#").nav-link Marketplace
            a(href="#").nav-link Learn
            a(href="#").nav-link Contest
        div.header-right
          div.personal-account
            a(href="#") investor@gmail.com




  block content
    section.section.screen-1

      div.sidebar
        div.sidebar-top
          div.portfolio.is-open
            span.portfolio-icon +
            span.portfolio-title My Portfolio
            ul.portfolio-dropdown
              li
                a(href="/investor1.html") Algorithm 1
              li
                a(href="#") Algorithm 2
              li
                a(href="#") Algorithm 3


        div.sidebar-bottom
          div.sidebar-block
            div.select-block
              label.select-name CURRENCY
              select.select-panel
                option ETH
                option ETH
            div.text--big ETH 1’500.32

          div.sidebar-block
            // кнопки могуть быть ссылками - тег а или кнопками - тег button
            button.button.button--blue Withdraw Funds
            a(href="#").button.button--tealish Deposit Funds

      div.content
        div.content-main
          div.content-title
            p Portfolio Dynamics
          div.content-block
            div.content-block__head
              div.zoom
                label.zoom-title zoom
                div.zoom-panel
                  span.zoom-btn 1m
                  span.zoom-btn.active 3m
                  span.zoom-btn 6m
                  span.zoom-btn YTD
                  span.zoom-btn.inactive 1y
                  span.zoom-btn All

              div.date
                div.date-from
                  label.date-title from
                  input.date-field(value='Sep 27, 2017')
                div.date-to
                  label.date-title to
                  input.date-field(value='Dec 27, 2017')

            div.content-block__body.graph.scroll
              div.lines ГРАФИК

          div.content-block
            ul#investTable.nav.nav-tabs(role='tablist')
              li.nav-item
                a#investments-tab.nav-link.active(data-toggle='tab', href='#investments', role='tab', aria-controls='investments', aria-selected='true') Investments
              li.nav-item
                a#history-tab.nav-link(data-toggle='tab', href='#history', role='tab', aria-controls='history', aria-selected='false') History

            #investTableContent.tab-content
              #investments.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='investments-tab')
                .tab-table
                  table
                    thead
                      th ALGORITHM
                      th UNITS
                      th AMOUNT INVESTED
                      th CURRENCY
                      th TRANSACTION DATE
                      th CHANGE
                    tbody
                      tr
                        td Beta
                        td 2
                        td 0.0854
                        td BTC
                        td 2018-01-03 16:00:56
                        td.success +14.34%
                      tr
                        td Alpha
                        td 3
                        td 2.6564
                        td BTC
                        td 2018-01-03 16:00:56
                        td.fail -4.11%
              #history.tab-pane.fade(role='tabpanel', aria-labelledby='history-tab')
                .tab-table
                  table
                    thead
                      th OPERATION
                      th AMOUNT
                      th CURRENCY
                      th BALANCE
                      th ALGORITHM
                      th DATE
                    tbody
                      tr
                        td Deposit
                        td 2.9577
                        td QNT
                        td 12.4563
                        td Beta
                        td 2017-12-23 16:00:56
                      tr
                        td Withdraw
                        td 3.0032
                        td QNT
                        td 9.4531
                        td Beta
                        td 2018-01-14 08:12:56
                      tr
                        td Deposit
                        td 0.9000
                        td ETH
                        td 0.9000
                        td Alpha
                        td 2017-12-23 16:00:56


        div.content-sidebar
          div.content-title
          div.content-block
            div.content-block__head.content-block__head--thin
              label PORTFOLIO COMPOSITIOIN
            div.content-block__body.chart
              #container
            div.content-block__head.content-block__head--thin
              label PORTFOLIO STATISTICS
            div.content-block__body
              div.params
                .params-item
                  .value -224%
                  .value-title return
                .params-item
                  .value 435
                  .value-title TOTAL TRADES
              div.params
                .params-item
                  .value 1.5
                  .value-title SHARPE RATIO
                .params-item
                  .value 5%
                  .value-title DRAWDOWN
              div.params
                .params-item
                  .value BTC, ETH
                  .value-title TRADED INSTRUMEN
                .params-item
                  .value Poloniex, Bitfinex
                  .value-title EXCHANGES





  block footer
    //footer.footer#contacts footer
      div.container.container--flex


  block modal
    //div.modal#modal
      div.dialog
        form(method="post" id="ajax_form" action="")
          //div.message(style="display: none;")
          div.message.success.translate_me(data-lang="message_success" style="display: none;") Ваша заявка отправлена. Скоро мы свяжемся с Вами!
          div.message.fail.translate_me(data-lang="message_fail" style="display: none;") Ошибка. Данные не отправлены.
          div.form
            div.dialog-header
              span.close
            div.dialog-body.translate_me(data-lang="dialog_body")
              input.dialog-field(type="text" name="name" placeholder="Имя, фамилия" tabindex="1" required="required" autofocus )
              input.dialog-field(type="text" name="phone" placeholder="Телефон или e-mail" required="required" tabindex="2")
              textarea.dialog-field(name="letter" placeholder="Введите ваше сообщение" tabindex="3")
            div.dialog-footer
              input.button.ru(type="button" class="send" value='Отправить')
              input.button.en(type="button" class="send" value='Send')

append scripts



  // анимация при прокрутке
  //script new WOW().init();
  //script(src = 'js/telegram-en.js')


