extends layout/main-layout

block body

  block header
    header.header
      div.container--flex
        div.header-left
          a.logo(href="/")
            img(src="/img/logo.svg")
          div.nav
            a(href="#").nav-link Developer
            a(href="#").nav-link Marketplace
            a(href="#").nav-link Learn
            a(href="#").nav-link Contest
        div.header-right
          div.personal-account
            a(href="#") investor@gmail.com




  block content
    section.section.screen-1

      div.sidebar
        div.sidebar-top
          div.portfolio
            span.portfolio-icon +
            span.portfolio-title My Portfolio
        div.sidebar-bottom
          div.sidebar-block
            div.select-block
              label.select-name CURRENCY
              select.select-panel
                option ETH
                option ETH
            div.text--big ETH 0
          div.sidebar-block
            // кнопки могуть быть ссылками - тег а или кнопками - тег button
            button.button.button--blue.inactive Withdraw Funds
            a(href="#").button.button--tealish.inactive Deposit Funds

      div.content.content--empty
        div.content-info
          p You have no investments.
          p Go to marketplace and choose an algorithm to invest.
          a(href="#").button.button--blue Go To Marketplace




  block footer
    //footer.footer#contacts footer
      div.container.container--flex


  block modal
    //div.modal#modal
      div.dialog
        form(method="post" id="ajax_form" action="")
          //div.message(style="display: none;")
          div.message.success.translate_me(data-lang="message_success" style="display: none;") Ваша заявка отправлена. Скоро мы свяжемся с Вами!
          div.message.fail.translate_me(data-lang="message_fail" style="display: none;") Ошибка. Данные не отправлены.
          div.form
            div.dialog-header
              span.close
            div.dialog-body.translate_me(data-lang="dialog_body")
              input.dialog-field(type="text" name="name" placeholder="Имя, фамилия" tabindex="1" required="required" autofocus )
              input.dialog-field(type="text" name="phone" placeholder="Телефон или e-mail" required="required" tabindex="2")
              textarea.dialog-field(name="letter" placeholder="Введите ваше сообщение" tabindex="3")
            div.dialog-footer
              input.button.ru(type="button" class="send" value='Отправить')
              input.button.en(type="button" class="send" value='Send')

append scripts
  // анимация при прокрутке
  //script new WOW().init();
  //script(src = 'js/telegram-en.js')


