doctype html

html(lang='ru', class = page)
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=1280, initial-scale=1")
    //meta(name="viewport" content="initial-scale=1")
    title Quantor
    block styles
      link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
      //for scss

      //link(rel="stylesheet" href="/assets/slick/slick.css")
      //link(rel="stylesheet" href="/assets/slick/slick-theme.css")
      link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
      //link(rel="stylesheet" href="/assets/animate.css")
      //link(rel="stylesheet" href="/assets/wow-animation/animate.min.css")
      link(rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet" href="assets/scrollbar/jquery.mCustomScrollbar.css")
      link(rel='stylesheet',href='/css/all.css')

      script(src='/js/jquery-3.2.1.min.js')
      script(src="assets/scrollbar/jquery.mCustomScrollbar.concat.min.js")
      //script(src='/ajax.js')

      //link(rel='stylesheet',href='/assets/bootstrap-3/css/bootstrap.css')
      //script(src='/js/jquery-3.2.1.min.js')
      //for less
      //link(rel='stylesheet',href='css/style.css')

  body.main-layout
    block body
      block header
      block toolbar
      block content
        p 123
      block sidebar
        p 456
      block footer
      block modal


    block scripts
      //script(src='/js/jquery-3.2.1.min.js')
      //script(src='/assets/bootstrap-3/js/bootstrap.js')

      script(src="/assets/bootstrap/js/bootstrap.min.js")
      script(src="/assets/slick/slick.min.js")
      script(src="/assets/wow-animation/wow.min.js")
      script(src="https://code.highcharts.com/highcharts.js")
      script(src="https://code.highcharts.com/modules/exporting.js")
      script(src="https://code.highcharts.com/modules/export-data.js")
      script(src="js/highcharts.js")
      //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      //script(src="assets/scrollbar/jquery.mCustomScrollbar.concat.min.js")
      script(src = '/js/script.js')



